h3 {
    color: #618;
    margin: 0px 0px 0px 350px;
    font-size: 50px;
}

img {
    margin-left:300px;
    border:goldenrod 10px solid;
    border-radius: 50px;
}

img {
  transition: transform .2s; 
  width: 50%;
  height: 100%;
  
}

img:hover {
  transform: scale(1.2);
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.flip-card-back {
  background-color: dodgerblue;
  transform: rotateY(180deg);
}

h1 {
  color:#618;
  font-size:200px;
  margin: 200px;
  margin-top: 150;
}

body {
  background-color: rgb(40, 36, 36);
}

